.imgs-product {
  height: 150px;
  width: 150px;
  display: inline;
}

.input-with-trash {
  display: flex;
  align-items: center;
}
.input-with-trash > div {
  width: 100%;
}

.trash-button {
  margin: 0 0 0 0.5rem;
  font-size: 1.2rem;
}

.form-width-test {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-width-test > form {
  width: 600px;
}

.description-container {
  margin-top: 2rem;
}
.description-container > textarea {
  width: 100%;
  height: 5rem;
  resize: none;
}

.upload-images {
  margin-bottom: 0.3rem;
}
.hidden-button {
  display: none;
}
