.App {
  font-family: "HelveticaNeueLTPro-Roman";
  text-align: center;
  background: #000000;
  color: rgb(255, 255, 255);
  width: 100;
  min-height: 100vh;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  box-sizing: border-box;
}
*,
*:after,
*::before {
  box-sizing: inherit;
}
ul {
  list-style-type: none;
}

/* LINKS */
a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/* NAVLINK CON ESTILO DE BOTON */
.g-navlink-white-button {
  display: flex;
}
.g-navlink-white-button > a {
  padding: 0.5rem 2rem;
  text-align: center;
  background-color: white;
}
.g-navlink-white-button > a {
  font-weight: 200;
  border: transparent 1px solid;
  padding: 0.5rem 3rem;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
  font-weight: 300;
  background-color: white;
  color: black;
  mask-image: linear-gradient(
    60deg,
    rgb(118, 118, 118) 25%,
    rgba(0, 0, 0, 0.5) 50%,
    rgb(124, 124, 124) 75%
  );
  mask-size: 400%;
  mask-position: 100%;
  -webkit-mask-image: linear-gradient(
    60deg,
    rgb(118, 118, 118) 25%,
    rgba(0, 0, 0, 0.7) 50%,
    rgb(124, 124, 124) 75%
  );
  -webkit-mask-size: 400%;
  -webkit-mask-position: 100%;
}
.g-navlink-white-button > a:hover {
  background-color: rgb(228, 228, 228);
  mask-position: 0%;
  -webkit-mask-position: 0%;
  transition: mask-position 0.5s ease, -webkit-mask-position 0.5s ease;
}
.g-navlink-white-button > a:active {
  background-color: rgb(165, 165, 165);
}

/* SELECT */
select {
  cursor: pointer;
}
/* LABEL */
label {
  cursor: pointer;
}

/* CHECKBOX */
input[type="checkbox"] {
  cursor: pointer;
}

/* INPUT */
.g-input-with-button {
  position: relative;
  height: 2.3rem;
  display: flex;
  justify-content: center;
}
.g-input-with-button > input {
  width: 100%;
  font-weight: 300;
  margin: 0.1rem 0 0.3rem 0;
  display: flex;
  padding-right: 2rem;
  padding-left: 0.5rem;
  border: none;
}
.g-input-with-button > input:focus {
  outline: none;
}

/* INPUT DOS ICONOS */
input.g-input-two-icons {
  padding-right: 3.5rem;
}

/* BLUR PASSWORD */
.g-input-with-button .g-password {
  text-shadow: 0 0 0.4rem #000;
  text-decoration: underline line-through;
  color: transparent;
  font-weight: 500;
  letter-spacing: -1px;
  padding-right: 3.5rem;
  padding-left: 0;
  font-family: "HelveticaNeueLTPro-Hv";
}
.g-input-with-button .g-password::selection {
  text-shadow: 0 0 0.4rem black;
  background: rgb(204, 204, 204);
  color: transparent;
  font-weight: 500;
  letter-spacing: -1px;
}

/* SVGS DENTRO DE INPUTS */
.g-input-icon-container {
  color: black;
  position: absolute;
  right: 0;
  top: 0.2rem;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  padding: 0.2rem;
}
.g-input-x-button {
  margin-right: 0.5rem;
}
.g-input-view-button {
  margin-right: 2rem;
}

/* BOTON RECTANGULAR BLANCO */
/* form  */
.g-white-button {
  font-weight: 200;
  border: transparent 1px solid;
  padding: 0.5rem 3rem;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
  font-weight: 300;
  background-color: white;
  color: black;
  mask-image: linear-gradient(
    60deg,
    rgb(118, 118, 118) 25%,
    rgba(0, 0, 0, 0.5) 50%,
    rgb(124, 124, 124) 75%
  );
  mask-size: 400%;
  mask-position: 100%;
  -webkit-mask-image: linear-gradient(
    60deg,
    rgb(118, 118, 118) 25%,
    rgba(0, 0, 0, 0.7) 50%,
    rgb(124, 124, 124) 75%
  );
  -webkit-mask-size: 400%;
  -webkit-mask-position: 100%;
}
.g-white-button:hover:enabled {
  background-color: rgb(228, 228, 228);
  mask-position: 0%;
  -webkit-mask-position: 0%;
  transition: mask-position 0.5s ease, -webkit-mask-position 0.5s ease;
}
.g-white-button:active {
  background-color: rgb(165, 165, 165);
}
.g-white-button:disabled {
  background: rgb(0, 0, 0);
  color: white;
  border: white 1px solid;
  cursor: default;
}
.g-white-button a {
  color: #000;
}

/* BOTON DE TEXTO */
.g-text-button {
  cursor: pointer;
  font-weight: 400;
}

/* PLACEHOLDER ERROR OCULTO */
.g-hidden-placeholder {
  visibility: hidden;
  font-size: 0.8rem;
}

/* BOTON "REGRESAR" */
.g-back-button {
  color: white;
}

/* MENSAJE DE ERROR PARA INPUTS */
.g-error-input {
  text-align: left;
  color: red;
  font-weight: 300;
  font-size: 0.8rem;
}
.g-warn-input {
  text-align: left;
  color: rgb(255, 187, 0);
  font-weight: 300;
  font-size: 0.8rem;
}

/* SVG BOTON */
.g-icon-button {
  cursor: pointer;
}

/* CONTAINER PARA LOADER */
.g-container-totalvh {
  height: 100vh;
}

/* CARD IMAGE BACKGROUND */
.card-image-back-style {
  position: absolute;
  background: rgb(255, 255, 255);
  height: 130%;
  width: 110%; /* 50% */
  transform: translateX(0%) rotate(5deg); /* 59 */
  /* outline-offset: 5px;
    outline: 1px solid rgb(255, 255, 255); */
}
