.App {
  text-align: center;
  background: #222222;
  color: rgb(255, 255, 255);
  width: 100;
  min-height: 110vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}
