.slide {
    margin: 0 auto;
    overflow: hidden;
    /* max-width: 1600px; */
    position: relative;
}

.slide-inner {
    white-space: nowrap;
    transition: .5s ease;
}

.slide-item {
    display: inline-block;
    width: 100%;
}
.slide-item img {
    width: 100%;
}

.carousel-control {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 70px;
    top: calc(50% - 25px);
    color: white;
    cursor: pointer;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1.5em;
    z-index: 2;
}
.carousel-indicator-item {
    height: 12px;
    width: 12px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: rgba(127, 127, 127, .3);
    margin: .2em;
    border-radius: 50%;
    cursor: pointer;
}
.active-indicator {
    border: none;
    opacity: 1;
    background: #FFA500;
    height: 15px;
    width: 15px;
}

.arrow path {
    fill: white;
}
.left-arrow {
    transform: rotate(180deg);
}