.slide {
    margin: 0 auto;
    overflow: hidden;
    /* max-width: 1600px; */
    position: relative;
}

.slide-inner {
    white-space: nowrap;
    transition: 1s ease;
}

.slide-item {
    display: inline-block;
    width: 100%;
}

.carousel-control {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 70px;
    top: calc(50% - 25px);
    color: white;
    cursor: pointer;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.carousel-indicators {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1.5em;
    z-index: 2;
}
.carousel-indicator-item {
    height: 15px;
    width: 15px;
    border: none;
    background: rgba(235, 16, 16, 0.5);
    margin: .2em;
    border-radius: 50%;
    cursor: pointer;
}
.active-indicator {
    opacity: 1;
    background: #FFA500;
}

.arrow path {
    fill: white;
}
.left-arrow {
    transform: rotate(180deg);
}