.history-card-container {
   position: relative;
   height: 340px;
   padding: 0 .4rem .8rem .4rem;
}

.loading-mini-card {
   padding: 25px;
   position: relative;
   overflow: hidden;
}

.history-card {
   background-color: #111111;
   color: white;
   cursor: pointer;
   padding: 1.5rem;
   padding-top: 2rem;
   position: relative;
   height: 17.8rem;
   overflow: hidden;
   opacity: 0;
}

.history-card .fav-button-container {
   opacity: 0;
   top: 1.5rem;
   right: 1.5rem;
}

.history-card .provider-text {
   top: 0.2rem;
   left: .5rem;
   width: 6rem;
}

.history-card-container:hover .history-card {
   background-color: #333333;
}

.history-card-container:hover .fav-button-container {
   opacity: 1;
}

.history-card-fade-in {
   transition: all .3s ease;
   padding: 1rem;
   padding-top: 1.5rem;
   opacity: 1;
}

.history-card-height {
   height: 20.3rem;
}

.history-card:hover p {
   visibility: visible;
}

.history-card-img-container {
   height: 180px;
   width: 180px;
   overflow: hidden;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}

.history-card-img-container img {
   max-height: 180px;
   max-width: 180px;
}

.history-card-sale-section {
   display: flex;
   align-items: center;
   color: orangered;
}

.onsale-svg {
   transform: scale(.6);
   padding: 0;
}

.onsale-svg path {
   fill: orangered;
}

.free-shipping {
   text-align: left;
   font-weight: 400;
}

.history-card-name-container {
   width: 11rem;
   display: flex;
   height: 3rem;
}

.history-card-name-container h3 {
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-align: left;
   padding-top: .2rem;
}

.history-good-info-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 2rem;
}