.profile-container {
  height: fit-content;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  display: flex;
  flex-grow: 1;
  min-height: 95vh;
}

@media (max-width: 899px) {
  .profile-menu-container-show {
    width: 170px;
  }
}

@media (min-width: 900px) {
  .profile-menu-container-show {
    width: 20vw;
    max-width: 250px;
  }
}

@media (min-width: 1024px) {
  .profile-burger-container {
    display: none;
  }

  .profile-menu-container-mobile {
    display: none;
  }

  .profile-menu-container-placeholder-mobile {
    display: none;
  }

  .profile-menu-container-desktop {
    display: flex;
    width: 10vw;
    min-width: 170px;
  }

  .profile-menu-container-placeholder-desktop {
    display: flex;
    width: 10vw;
    min-width: 170px;
  }
}

@media (max-width: 1023px) {
  .profile-menu-container-desktop {
    display: none;
  }

  .profile-menu-container-placeholder-desktop {
    display: none;
  }

  .profile-menu-container-mobile {
    display: flex;
  }

  .profile-menu-container-placeholder-mobile {
    display: flex;
  }
}

.profile-menu-container-fixed {
  border-right: 1px solid rgb(115, 115, 115);
  position: fixed;
  /* min-height: 300px; */
  height: 100%;
  top: 0;
}

.profile-menu-container {
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.1s ease-in-out;
  background-color: #00000040;
  z-index: 40;
}

.profile-menu-container-hide {
  width: 3.2rem;
}

.profile-menu-mobile-background {
  z-index: 40;
}

.profile-menu-container-hide .chromatic-text {
  display: none;
}

.profile-menu-container-show .profile-chromatic-container {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.profile-menu-container-hide .profile-chromatic-container {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profile-chromatic-container {
  width: 100%;
}

.profile-chromatic-container>div {
  padding-left: 3rem;
}

.profile-menu-container>ul {
  width: 100%;
}

.profile-burger-container {
  width: 3rem;
  height: 3rem;
  position: relative;
  /* right: 0.5rem; */
}

.profile-menu-container>ul>li {
  height: 3rem;
  display: flex;
  position: relative;
  cursor: pointer;
}

.profile-svg-container {
  position: absolute;
}

.profile-svg-container svg {
  position: absolute;
  left: 0.6rem;
  top: 0.5rem;
  color: white;
  /* border: 1px solid red; */
  transform: scale(0.8);
}

.profile-svg-container.profile-svg-rescale svg {
  transform: scale(1.2);
  left: 0.9rem;
  top: 0.7rem;
}

.profile-menu-container>ul>li>svg {
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  font-size: 1.5rem;
}

.profile-menu-container>ul>li:hover,
.profile-menu-container>ul>.profile-burger-container-hide:hover {
  background: linear-gradient(90deg,
      rgba(34, 34, 34, 1) 0%,
      rgba(17, 17, 17, 1) 24%,
      rgba(34, 34, 34, 1) 100%);
}

.profile-option-selected-container {
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  position: relative;
}

.profile-option-selected-container h1 {
  font-family: HelveticaNeueLTPro-Bd, Poppins;

}

.profile-option-selected-container h1 {
  margin-bottom: 2rem;
}

/* VOLVER A VER quitar estilos de abajo */

.profile-orders-container {
  display: flex;
  flex-direction: column-reverse;
}

.profile-img-orders-container img {
  max-width: 96px;
  max-height: 96px;
}

.profile-section-indicator {
  position: fixed;
  top: 5%;
  left: 5%;
  min-width: 450px;
  width: 40vw;
  font-family: HelveticaNeueLTPro-Hv, Poppins;
  font-size: 15vw;
  color: #151515;
  z-index: -1;
}