.profile-publications-section {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-publications-header {
    position: relative;
    width: 85%;
    text-align: center;
    max-width: 900px;
}

.profile-publications-header>button {
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 0;
}

@media (max-width: 799px) {
    .profile-publications-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .profile-option-selected-container .profile-publications-header h1 {
        margin-bottom: 1rem;
    }

    .profile-publications-header>button {
        position: relative;
        align-self: flex-end;
    }

}