.footer-container {
    background-color: #050505;
    text-align: center;
    border-top: 1px solid rgb(115, 115, 115);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem 0 0 0;
    z-index: 50;
    position: relative;
}

.footer-container h1 {
    position: absolute;
    font-size: 8rem;
    z-index: -1;
    top: 0;
    left: 0;
    font-family: Oswald-HeavyItalic;
    color: #090909;
    user-select: none;
}

.footer-container input {
    border: none;
    height: 2rem;
    width: 20rem;
    padding: 1rem;
}

.footer-container input:focus {
    outline: none;
}

.footer-container img {
    height: 4rem;
}

.footer-suscribe {
    text-align: left;
    padding: .2rem 0;
}

.footer-links-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-links-container>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links-container ul {
    padding: 1rem 0;
    text-align: left;
}

.footer-links-container ul li {
    padding: .2rem 0;
}

.footer-links-container ul li a:hover {
    color: #999999;
}

.footer-copyright-container {
    width: 100%;
    background-color: #050505;
    color: #888888;
    padding: 1rem 0;
}

@media (max-width:850px) {
    .footer-links-container {
        flex-direction: column-reverse;
    }

    .footer-links-container>div {
        padding-bottom: 1.5rem;
    }
}

@media (max-width:1024px) {
    .footer-container h1 {
        display: none;
    }
}