.not-found-container {
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url('https://res.cloudinary.com/dsyjj0sch/image/upload/v1663797565/static-noise_jrlwul.webp');
   background-size: cover;
   flex-grow: 1;
}

.not-found-container h1 {
   font-family: HelveticaNeueLTPro-Hv;
   color: black;
   letter-spacing: -6px;
   font-size: 6rem;
   z-index: 50;
   width: 100%;
}