.suggestions-outter {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.suggestions-container {
    width: fit-content;
}

.suggestions-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    font-family: "HelveticaNeueLTPro-BdIt";
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFFFFF;
}
.suggestions-header p {
    margin: 0 .7rem;
    inline-size: max-content;
}
.suggestions-header div {
    width: 20rem;
    height: 2px;
    margin: 0 1.5rem;
    background-color: #ffffff;
}
.suggestions-header span {
    width: 1rem;
    height: 1rem;    
    padding: 0 3rem 3rem 0;
}

.suggestions-products-container {
    width: fit-content;
    height: 350px;
    position: relative;
    padding: 0 1rem 3rem 1rem;
    user-select: none;
}
.suggestions-products-inner {    
    display: flex;
    justify-content: center;
    transition: all .3s ease;
}
.suggestions-products-inner > * {
    margin: 1rem;
}

.suggestions-buton-left {
    position: absolute;
    display: none;
    bottom: 0;
    left: 45%;
}
.suggestions-buton-right {
    position: absolute;
    display: none;
    bottom: 0;
    left: 55%;
}

@media (max-width: 1350px) {
    .suggestions-products-container {
        width: 100vw;
        padding: 1rem 0 3rem 0;
    }
    .suggestions-products-inner {
        justify-content: flex-start;
    }
    .suggestions-buton-left {
        display: block;
    }
    .suggestions-buton-right {
        display: block;
    }
}