.suggestions-outter {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.suggestions-container {
    width: fit-content;
    background: #ffffff15;
}

.suggestions-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.suggestions-header p {
    font-family: "HelveticaNeueLTPro-BdIt";
    font-size: 1.7rem;
    font-weight: 200;
    color: #FFFFFF;
    margin: 0 .7rem;
    inline-size: max-content;
}
.suggestions-header div {
    width: 20rem;
    height: 2px;
    margin: 0 1.5rem;
    background-color: #ffffff;
}

.suggestion-eye {
    height: 2.7rem;
    width: 2.7rem;
    background: linear-gradient(45deg,
            #35a7ff 0%,
            #7e54de 20%,
            #f40259 60%,
            #fea30d 100%);
    mask-image: url('../../assets/svg/crystal_ball.svg');
    background-size: 400%;
    animation: gradientTextAnim 3s infinite;
}

.suggestions-header span {
    width: 1rem;
    height: 1rem;
    padding: 0 3rem 3rem 0;
}

.suggestions-products-container {
    height: fit-content;
    padding: 0 1rem 3rem 1rem;
    margin: 0 auto;
    user-select: none;
    overflow-x: hidden;
}

.suggestions-products-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.suggestions-products-inner>* {
    margin: 1rem;
}

.suggestions-products-error {
    font-family: "HelveticaNeueLTPro-Roman";
    font-weight: 100;
    color: #505050;
}

@media (max-width: 1500px) {
    .suggestions-products-inner {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 950px) {
    .suggestions-products-inner {
        grid-template-columns: 256px 256px;
    }
}