.unauthorized-container {
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url('https://res.cloudinary.com/dsyjj0sch/image/upload/v1663797725/no-signal_cmpfa9.gif');
   background-size: cover;
   flex-grow: 1;
}

.unauthorized-container h1 {
   font-family: HelveticaNeueLTPro-Hv;
   color: white;
   letter-spacing: -6px;
   font-size: 5rem;
   z-index: 50;
   width: 100%;
}