.buynow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buynow-inner {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    min-width: 75vw;
    min-height: 54vh;
    width: fit-content;
    border-top: 1px solid white;
    border-bottom: 1px solid white;    
    padding: 50px;
    position: relative;
}
.buynow-loading {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    min-width: 75vw;
    min-height: 80vh;
    width: fit-content;
    color: white;
}

.buynow-product-details {
    display: flex;
    flex-direction: column;
}
.buynow-product-details h2 {
    margin: 1rem 0;
}

.bn-quantity-container {
    align-self: center;
}
.buynow-img-container {
    height: 50vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    position: relative;
    overflow: visible clip;
}

.buynow-img {
    max-height: 100%;
    max-width: 100%;
    visibility: hidden;
    z-index: 1;
}
.visible {
    visibility: visible;
    transition: visibility .3s ease;
}

.buynow-inner-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buynow-total-container {
    display: flex;
    height: 100%;
    margin: 2rem 0 0 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.buynow-shipping-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 2rem;
    flex-direction: column;
}

.bn-shipping-mode-container {
    border-top: 1px solid rgba(255, 255, 255, .3);
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.bn-shipping-mode-container div {
    text-align: left;
}
.bn-shipping-mode-container p:first-child /* 1-0-0 */ {
    font-size: 1.2rem;
    font-weight: 400;
}
.bn-shipping-mode-card {
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.address-icon {
    position: absolute;
    color: #3483fa;
    transform: scale(.55);
    top: -0.55rem;
    left: -2rem;
}
.buynow-sumary-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 4rem;
}

.buynow-total {    
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 1.5rem;
    text-align: end;
}

.buynow-price-discount {
    display: flex;
}
.buynow-price-discount p {
    margin-right: .5rem;
}

.buynow-total h3 {
    font-size: 1.5rem;
    font-weight: 500;
}
.buynow-total p {
    align-self: flex-end;
    font-weight: 300;
}

.bn-return-container {
    position: absolute;
    top: 2%;
}

@media (max-width: 1024px) {
    .buynow-inner {
        flex-direction: column;
    }
    .buynow-product-details {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .buynow-img-container {
        width: 40vw;
        height: auto;
    }
    .buynow-total-container {
        margin: 2rem 0 0 0;
    }
}

@media (max-width: 560px) {
    .buynow-inner {
        padding: 50px 0;
    }
    
}