.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-loading-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.cart-menu-container a {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    margin: 0 1vw;
}

.cart-inner {
    min-width: 75vw;
    min-height: 54vh;
    width: fit-content;
    border-radius: 4px;
    padding: 50px;
    background: rgba(255, 255, 255, 0);
}

.total-section-container {
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 1rem 0;
    padding:  3rem 0 2rem 0;
    border-bottom: 1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.cart-address-selector {
    color: #3483fa;
    font-weight: 400;
    height: 1.5rem;
    width: fit-content;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
    margin-left: 2.5rem;
}
.arrow-address-selector {
    position: absolute;
    transform: rotate(90deg) scale(.5);
    top: -0.85rem;
    right: -2.5rem;
}
.arrow-address-selector path {
    fill: #3483fa;
}

.cart-shipping-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 2rem;
    flex-direction: column;
}
.cart-shipping-mode-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.cart-shipping-mode-container div {
    text-align: left;
}
.cart-shipping-mode-container p:first-child /* 1-0-0 */ {
    font-size: 1.2rem;
    font-weight: 400;
}
.cart-shipping-mode-card {
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.cart-sumary-section {
    display: flex;
    flex-direction: column;

}
.cart-total {    
    display: flex;
    width: 14rem;
    justify-content: space-between;
    align-content: flex-end;
    margin-bottom: 1.5rem;
    text-align: end;
}
.cart-total h3 {
    font-weight: 600;
}
.cart-total p {
    align-self: flex-end;
    font-weight: 300;
}
.total-section-inner {
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.cart-button-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    margin-top: 1.5rem;
    align-self: center;
}
.cart-button-section p {
    font-size: 1.2rem;
    margin-right: 2rem;
}
.cart-button-section button {
    border: none;
    margin: 1rem;
    width: 14rem !important;
    height: 3.1rem !important;
    cursor: pointer;
}
.cart-button-section button:disabled {
    background: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    cursor: default;
}
.cart-button-section input:focus {
    outline: none;
}

.cart-ship-total {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.ship-svg {
    transform: scale(.7);
    position: absolute;
    top: -5px;
    left: -22px;
}
.ship-svg path {
    fill: #39b54a;
}

.cho-svg {
    transform:scale(.8);
}

.cart-buylater-inner {
    min-width: 75vw;
    min-height: 54vh;
    width: fit-content;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .8);
    padding: 50px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

.cart-warning-message {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: .8rem;
    color: rgb(255, 187, 0);
    width: 100%;
    margin-top: 1rem;
    padding: .5rem .9rem;
}
.cart-warning-message span {
    cursor: pointer;
}