.postsale-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

.postsale-inner {
  width: 80vw;
}

.postsale-header {
  height: 25vh;
  padding-top: 5vh;
  display: flex;
  justify-content: center;
}

.postsale-img-container {
  height: 25vh;
  width: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  overflow: visible clip;
}

.postsale-details-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 6rem 6rem 3rem 6rem;
  border-top: 1px solid white;
}

.postsale-text-margin {
  margin-bottom: 2rem;
}

.postsale-approved {
  background: linear-gradient(15deg, #64d500 0%, rgba(255, 255, 255, 0) 80%);
  background-size: 100% 500%;
  background-position: 0% 100%;
}

.postsale-pending {
  background: linear-gradient(15deg, #eb7711 0%, rgba(255, 255, 255, 0) 80%);
  background-size: 100% 400%;
  background-position: 0% 100%;
}

.animation-start {
  animation: background-start 5s;
}

.animation-loop {
  animation: background-loop 10s infinite;
}

.postsale-back-container {
  margin-top: 2.5rem;
}

.postsale-spinner-container {
  margin: 65px 0;
}

.postsale-delivery-container {
  max-width: 700px;
  margin: auto;
}

@media (max-width: 720px) {
  .postsale-details-container {
    padding: 5rem 1rem;
  }

  .postsale-delivery-container {
    min-width: 400px;
  }
}

.postsale-comment-reminder {
  margin-top: 2rem;
}