input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}
.q-input-container {
    align-self: flex-end;
    width: 130px;
    height: 100px;
}
.q-input-container p {
    color: rgba(255, 255, 255, 0.6);
}
.q-input-inner {
    background: white;
    height: 3.1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.q-input-stock {
    display: block;
}
.q-input-inner  button{
    font-size: 1.5rem;
    height: 3rem;
    width: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}
.q-input-inner input {
    /* height: 3rem; */
    width: 4rem;
    text-align: center;    
    border: none;
}
.q-input-inner input:focus {
    outline: none;
}

@media (max-width: 700px) {
    .q-input-container {
        height: fit-content;
        align-self: center;
    }
    .q-input-inner {
        height: 2rem;
        margin-bottom: 0;
    }
    .q-input-stock {
        display: none;
    }
}