.premiumcard-container {
    display: flex;
    justify-content: space-between;    
    height: 26.6vw;
    width: 80vw;
    margin: 2rem 0;
    cursor: pointer;
    transition: all .15s ease;
}

.premiumcard-direct-normal {
    flex-direction: row;
}
.premiumcard-direct-reverse {
    flex-direction: row-reverse;
}

.premiumcard-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    transition: all .15s ease;
}
.premiumcard-img-container img {
    max-width: 100%;
    max-height: 100%;
}

.premiumcard-lateral-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    font-family: HelveticaNeueLTPro-Hv;
    width: 66%;
    height: 100%;
}
.premiumcard-name {
    font-size: 5.5vw;
}
.premiumcard-description {
    font-size: 2.7vw;
    width: 80%;
    /* padding: 2rem 0; */
}

.premiumcard-container:hover .premiumcard-lateral-container {
    background-position: 100% !important;
    background-size: 200% !important;
    transform: skewX(-1deg);
    transition: all .3s ease !important;
}
.premiumcard-container:hover p {
    background-position: -50% !important;
    transition: all .5s ease !important;
}
/* .premiumcard-container:hover img {
    transform: scale(1.01) !important;
    transition: all .3s ease !important;
} */