.providerstore-container {
    position: relative;
}

.providerpremium-header {    
    font-size: .8rem;
    letter-spacing: .2rem;
    user-select: none;
    height: 22vw;
    background: radial-gradient(circle, rgb(40, 40, 40) 20%, rgba(53,167,255,1) 35%, rgba(126,84,222,1) 45%, rgba(244,2,89,1) 55%, rgba(254,163,13,1) 65%, rgb(40, 40, 40) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 400% 200%;
    animation: gradientTextAnim 10s infinite;
}
/* .providerpremium-header {
    height: 22vw;
    background: no-repeat center url("https://res.cloudinary.com/dsyjj0sch/image/upload/v1661380898/3d-abstract-wave-pattern-background_u4ght2.jpg");
    background-size: 100% auto;
    background-position: revert;
} */

.providerpremium-cardscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    width: 100%;    
    z-index: 4;
    position: relative; 
    /*! position: absolute ROMPE EL EVENTLISTENER wtf? 
        body height y window innerheight pasan a ser iguales,
        el calculo del scroll termina dividiendo por 0 y retorna Infinity o NaN*/
}

.providerpremium-echo-inner-mobile {
    text-align: left;
    top: 7.5%;
    left: 2.7%;
    margin-top: 9.1vw;
    font-size: 12vw;
    font-family: HelveticaNeueLTPro-BdOu, Poppins;
    line-height: 75%;
    letter-spacing: -1.2vw;
    color: #202020;
    pointer-events: none;
    position: fixed;
    z-index: 3;
}

@media (max-width: 1024px) {
    .providerpremium-header {
        height: 43vw;
    }
}