.providerstore-container {
    position: relative;
    height: fit-content;
}

.providerpremium-header {
    height: 22vw;
    background: no-repeat center url("https://res.cloudinary.com/dsyjj0sch/image/upload/v1661380898/3d-abstract-wave-pattern-background_u4ght2.jpg");
    background-size: 100% auto;
    background-position: revert;
}
.providerpremium-title-text {
    font-family: HelveticaNeueLTPro-Bd, Poppins;
    font-size: 2.2rem;
    text-align: left;   
    top: 12.6%;
    left: 77%;
    pointer-events: none;
    position: fixed;
    z-index: 1;
}

.providerpremium-background {
    background: black;
    position: absolute;
    display: block;
    z-index: 2;
    height: 200vw;
    width: 100vw;
}

.providerpremium-cardscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    width: 100%;    
    position: absolute;
    z-index: 4;
}

.providerpremium-echo-inner-mobile {
    text-align: left;
    top: 7.5%;
    left: 2.7%;
    margin-top: 9.1vw;
    font-size: 12vw;
    font-family: HelveticaNeueLTPro-BdOu, Poppins;
    line-height: 75%;
    letter-spacing: -1.2vw;
    color: #202020;
    pointer-events: none;
    position: fixed;
    z-index: 3;
}

@media (max-width: 1024px) {
    .providerpremium-header {
        height: 43vw;
    }
}