.providerstore-container {
    position: relative;
}

.providerstore-echo-inner {
    top: 7.7rem;
    margin-top: 0%;
    margin-left: 1.5rem;
    font-size: 6vw;
    font-family: HelveticaNeueLTPro-BdOu, Poppins;
    letter-spacing: -0.3rem;
    color: #202020;
    pointer-events: none;
    position: fixed;
    z-index: 30;
    line-height: 73%;
    display: block;
    /* transition: all .15s ease; */
}

.providerstore-echo-inner span {
    font-family: HelveticaNeueLTPro-Bd, Poppins;
}

.providerstore-title {
    pointer-events: none;
    top: 0%;
    left: 0%;
    color: #000000;
    position: relative;
    display: contents;
    width: 100%;
    height: 22vw;
}

.providerstore-title span {
    position: absolute;
    z-index: 3;
    font-family: HelveticaNeueLTPro-Bd, Poppins;
    line-height: 75%;
    margin-top: 2rem;
    top: 0%;
    left: 30%;
    font-size: 22.5vw;
    letter-spacing: -2rem;
}


/** MOBILE **/
.providerstore-title-mobile {
    font-family: HelveticaNeueLTPro-Bd, Poppins;
    font-size: 19.5vw;
    letter-spacing: -1.2vw;
    top: 9%;
    pointer-events: none;
    line-height: 75%;
    display: unset;
    z-index: 2;
    color: #000000;
    position: sticky;
}

.providerstore-echo-inner-mobile {
    text-align: left;
    left: 2.7%;
    top: 7.5%;
    margin-top: 14vw;
    font-size: 27.5vw;
    font-family: HelveticaNeueLTPro-BdOu, Poppins;
    line-height: 90%;
    letter-spacing: 0vw;
    color: #101010;
    pointer-events: none;
    position: fixed;
    z-index: 30;
}

.providerstore-echo-inner-mobile span {
    font-family: HelveticaNeueLTPro-Bd, Poppins;
}

.invisible {
    opacity: 0;
}

.providerstore-category-buttons {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.providerstore-category-buttons div>button {
    font-family: HelveticaNeueLTPro-Bd, Poppins;
    font-weight: 800;
    margin: 0 1rem;
    height: 3.5rem;
    width: 14rem;
}

.ps-button-container {
    position: relative;
}

.ps-button-container div {
    z-index: 5;
    position: absolute !important;
    transition: opacity .1s ease;
    pointer-events: none;
    opacity: 0;

    background: linear-gradient(45deg,
            #35a7ff 0%,
            #7e54de 20%,
            #f40259 60%,
            #fea30d 100%);
    animation: gradientTextAnim 10s infinite;
    background-size: 400%;

}

#ps-button01 {
    height: 220%;
    width: 120%;
    mask-image: url("https://res.cloudinary.com/dsyjj0sch/image/upload/v1663605199/button_frame-03_w0lnur.png");
    scale: 0.8;
    top: -65%;
    left: -9.8%;
}

#ps-button02 {
    mask-image: url("https://res.cloudinary.com/dsyjj0sch/image/upload/v1663605199/button_frame-02_snkgmz.png");
    height: 220%;
    width: 135%;
    scale: 0.8;
    top: -67.5%;
    left: -11.5%;
}

.ps-button-container:hover div {
    opacity: 1;
}

.providerstore-header {
    height: 22vw;
}

#ps-header-bg-video {
    z-index: -1;
    filter: brightness(5) invert();
    /* filter: hue-rotate(150deg) invert() saturate(4); */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.providerstore-disclaimer {
    margin: 2rem;
    font-size: 2.5rem;
    position: static;
    font-family: HelveticaNeueLTPro-Bd;
    letter-spacing: -2px;
}

.storecards-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 40;
}

.storecards-inner {
    font-family: HelveticaNeueLTPro-Hv;
    margin: 3rem 3rem 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.storecards-inner>* {
    margin: 0 1rem;
}


.providerstore-flashsales {
    margin: 3rem;
}

.providerstore-flashsales-container {
    display: flex;
}

.providerstore-flashsales-container>* {
    margin: 1rem;
}

.providerstore-premiumbrand {
    position: relative;
    margin: 4rem;
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    text-align: left;
    background: no-repeat center url('https://cdn11.bigcommerce.com/s-k11cg5mzh9/content/pdp_images/9471_16407.jpg');
    background-size: 100% auto;
}

.providerstore-premiumbrand>div {
    margin: auto 5rem;
    width: 700px;
}

.provider-store-sign {
    position: absolute;
    top: 32%;
    left: 0%;
    z-index: 50;
    height: 5.2rem;
    width: 14rem;
    margin: 0 20rem;
    filter: drop-shadow(2px 4px 6px black);
    background: #ffffff;
    mask-image: url('../../assets/svg/PremiumSign.svg');
    background-size: 400%;
    animation: gradientTextAnim 6s infinite;
}

.providerstore-premiumbrand div>img {
    position: absolute;
    top: 30%;
    left: 12rem;
    transform: scale(.5) translateY(-50%);
    filter: invert() drop-shadow(2px 4px 6px black);
}

.providerstore-premiumbrand div>p {
    font-size: 1.5rem;
}

.providerstore-premiumbrand div>h2 {
    color: #ededed;
    font-size: 6rem;
    margin-bottom: 2rem;
}

@media (max-width: 1023px) {
    .storecards-inner {
        grid-template-columns: 1fr 1fr;
    }

    .storecards-inner>* {
        margin: 1rem;
    }

    .providerstore-header {
        height: 43vw;
    }

    .providerstore-title-button {
        left: 64%;
        top: 7.5%;
        margin-top: 20vw;
        width: 32.5vw;
        padding: .5rem 0;
    }

    .providerstore-header-mobile {
        position: absolute;
    }

    .pro-sticky {
        position: absolute;
        top: 0%;
        left: 0%;
        height: 45vw;
        width: 100vw;
        padding: 2rem -0.5vw 0 2rem;
    }

    .providerstore-header-desktop {
        display: none;
    }
}

@media (min-width: 1024px) {
    .providerstore-header-mobile {
        display: none;
    }
}

@media (max-width: 590px) {
    .providerstore-category-buttons {
        overflow: auto;
    }
}