.providerstore-echo-inner {
    top: 12.5%;
    margin-left: 1.5rem;
    font-size: 7.5vw;
    font-family: HelveticaNeueLTPro-BdOu, Poppins;
    letter-spacing: -0.3rem;
    color: #202020;
    pointer-events: none;
    position: fixed;
    z-index: 3;
    line-height: 75%;
}
.providerstore-container span {
    font-family: HelveticaNeueLTPro-Bd, Poppins;
}
.providerstore-title {
    font-size: 7.5vw;
    letter-spacing: -0.3rem;
    color: white;
    top: 12.5%;
    left: 40%;
    pointer-events: none;
    position: fixed;
    z-index: 1;
    line-height: 75%;
}
.providerstore-title-text {
    font-size: 2.4vw;
    text-align: left;
    top: 12.8%;
    right: 12%;
    pointer-events: none;
    position: fixed;
    line-height: 75%;
    z-index: 1;
}

/** MOBILE **/
.providerstore-title-mobile {
    text-align: left;
    font-size: 12vw;
    letter-spacing: -0.5vw;
    top: 7%;
    left: 2.7%;
    pointer-events: none;
    position: fixed;
    z-index: 1;
    line-height: 75%;
}
.providerstore-title-text-mobile {
    font-size: 8vw;
    letter-spacing: -0.5vw;
    top: 7.5%;
    left: 60%;
    text-align: left;
    pointer-events: none;
    position: fixed;
    z-index: 1;
    line-height: 75%;
}
.providerstore-echo-inner-mobile {
    text-align: left;
    left: 2.7%;
    top: 7.5%;
    margin-top: 9.1vw;
    font-size: 12vw;
    font-family: HelveticaNeueLTPro-BdOu, Poppins;
    line-height: 80%;
    letter-spacing: 2.4vw;
    color: #202020;
    pointer-events: none;
    position: fixed;
    z-index: 3;
}

.providerstore-title-button {
    font-family: HelveticaNeueLTPro-Bd, Poppins;
    font-weight: 800;
    top: 10%;
    left: 40.3%;
    margin-top: 10vw;
    width: 47.5vw;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.button-addicon {
    transform: scale(1.4);
    margin: auto 0;
}

.providerstore-header {    
    height: 22vw;
    background: no-repeat center url("https://res.cloudinary.com/dsyjj0sch/image/upload/v1661210139/defe786a-5490-425a-b98d-3b8c2d1b7463_desktop_header-copy_algg64.jpg");
    background-size: auto 100%;
}

.providerstore-background {
    background: black;
    position: absolute;
    z-index: 2;
    height: 200vh;
    width: 100vw;
}

.storecards-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
}
.store-premium {
    margin: 2rem 0 3rem 0;
    height: 45vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.store-premium-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem;
    width: 30vw;
}
.store-premium-text p {
    padding: 2rem;
}
.store-premium-text button {
    width: fit-content;
    align-self: center;
}

.storecards-inner {
    font-family: HelveticaNeueLTPro-Hv;
    display: flex;
    margin-top: 2rem;
}
.storecard {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
    margin: 2rem;
    z-index: 2;
    height: 10rem;
    width: 20rem;
    background-color: white;
    cursor: pointer;
}
.storecard-subtitle {
    font-family: HelveticaNeueLTPro-BdOu;
    font-size: 1.5rem;
    letter-spacing: .035rem;
    opacity: 0;
    position: absolute;
    top: 0;
    color: #202020;
}
.subtitle-visible1 {
    transition: top .2s ease, opacity .5s ease;
    opacity: 1;
    top: 20%;
}
.subtitle-visible2 {
    transition: top .2s ease, opacity .5s ease;
    opacity: 1;
    top: 31%;
}

.storecard img {
    max-height: 100%;
    max-width: 100%;
}

.providerstore-flashsales {
    margin: 3rem;
}
.providerstore-flashsales-container {
    display: flex;
}
.providerstore-flashsales-container > * {
    margin: 1rem;
}

.providerstore-premiumbrand {
    margin: 3rem;
    width: 100vw;
    height: 60vh;
    background: no-repeat center url('https://cdn11.bigcommerce.com/s-k11cg5mzh9/content/pdp_images/8946_15882.jpg');
    background-size: 100% auto;
}

@media (max-width: 1024px) {
    .providerstore-header {
        height: 43vw;
    }
    .providerstore-title-button {
        left: 60%;
        top: 7.5%;
        margin-top: 20vw;
        width: 32.5vw;
        padding: .5rem 0;
    }
}