.backtotop-button {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    z-index: 30;
    bottom: -50px;
    right: 10vw;
    cursor: pointer;
    transition: all .3s ease-out;
}
.icon-up {
    transform: rotate(-90deg);
}
.icon-up path{
    fill: #fff;
}
.visible-btt {
    transition: all .3s ease;
    bottom: 0px;
}