.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  z-index: 5; /* //! VOLVER A VER ver z-index */
  background-color: black;
}
@media (max-width: 1023px) {
  .navbar {
    background-color: red;
  }
}
.navbar-dumb-hidden {
  height: 5.5rem;
  background-color: black;
}
.navbar a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}
.navbar-main-sections {
  display: flex;
  padding: 0.3rem 0;
  z-index: 7; /* //! VOLVER A VER ver z-index */
  background-color: #000000;
  position: relative;
}

.navbar-central-section {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  align-items: flex-start;
}

@media (min-width: 1240px) {
  .navbar input[type="text"] {
    width: 600px;
  }
  .navbar-central-subsection {
    justify-content: space-around;
  }
}
@media (max-width: 1239px) {
  .navbar-username {
    display: none;
  }
  .navbar input[type="text"] {
    width: 400px;
  }
  .navbar-central-options {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .navbar-central-subsection {
    justify-content: flex-start;
  }
  /* .glitch {
    margin-left: 5rem;
  } */
}

.navbar-central-subsection {
  display: flex;
  height: 3rem;
  margin-bottom: 0.5rem;
  width: 60rem;
  position: fixed;
  top: 3rem;
  transition: 0.3s ease-in-out;
  padding-right: 5rem;
}
.hidden-box {
  height: 4rem;
  width: 60rem;
  top: -1rem;
  transition: 0.3s ease-in-out;
  /* justify-content: space-between; */
}

.navbar-central-options {
  display: flex;
  white-space: nowrap;
  align-content: center;
  height: 2rem;
  cursor: pointer;
}

.navbar input[type="text"] {
  padding-left: 1rem;
}

.navbar-logo-section {
  width: 200px;
  position: relative;
}

.navbar-profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 99px;
  width: 400px;
}
.navbar-profile-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
}
.navbar-profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1rem;
}
.navbar-avatar {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 1rem;
}
.navbar-avatar img {
  height: 100%;
  width: 100%;
}
.navbar-avatar-svg {
  margin-left: 1rem;
}
.navbar-avatar-svg path {
  fill: white;
}

.wishlist-icon {
  transform: scale(0.7);
}
.wishlist-icon path {
  fill: white;
}
.navbar-username {
  font-weight: 400;
}

.cart-icon-container {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 1rem;
}
.cart-icon {
  transform: scale(0.6);
  position: absolute;
  height: 2.7rem;
  width: 2.7rem;
  right: 0;
  top: -0.2rem;
}
.cart-icon path {
  fill: white;
}
.cart-number {
  font-weight: 600;
  width: 2rem;
  text-align: left;
  position: absolute;
  top: -0.2rem;
  right: -1.5rem;
}

.navbar-modal-container {
  position: absolute;
  height: 50px;
  text-align: left;
  overflow: visible;
}

.navbar-wishlist-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: 50px; */
  width: 2rem;
  position: relative;
  margin: 0 1rem;
}
.navbar-wishlist-button svg {
  transform: scale(1);
}
.navbar-modal-container-w {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: left;
  overflow: visible;
}
.navbar-modal-menu-container {
  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;
}
.navbar-modal-menu-container a {
  font-weight: 200;
}

.profile-modal-option {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  height: 2rem;
  color: white;
}
.profile-modal-option:hover {
  background: linear-gradient(
    90deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(17, 17, 17, 1) 24%,
    rgba(34, 34, 34, 1) 100%
  );
}
.logout {
  margin-top: 2rem;
  border-top: 1px solid rgb(115, 115, 115);
}

.navbar-modal {
  visibility: hidden;
  position: relative;
  left: calc(50% - 75px);
  bottom: -50px;
  height: fit-content;
  width: 10rem;
  border: 1px solid rgb(115, 115, 115);
  background: #111111;
  z-index: 12;
}
.navbar-modal-w {
  visibility: hidden;
  position: relative;
  left: calc(50% - 300px);
  bottom: -50px;
  height: fit-content;
  width: 400px;
  border: 1px solid rgb(115, 115, 115);
  background: rgb(33, 33, 33);
  z-index: 12;
}

.provider-text {
  font-weight: 600;
  background: linear-gradient(
    45deg,
    #35a7ff 0%,
    #7e54de 20%,
    #f40259 60%,
    #fea30d 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: gradientTextAnim 10s infinite;
}

.glitch {
  width: 22rem;
  height: 5.5rem;
  cursor: pointer;
  padding-right: 2rem;
  transition: 0.3s ease-in-out;
  transform: translateY(-3px);
}
.little-glitch {
  width: 210px;
  height: 3rem;
  transition: 0.3s ease-in-out;
  padding: 0;
  transform: translateY(2px);
}
