.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
.navBar a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  margin: 0 1vw 0 0;
  padding-top: 4px;
}

.navbar-central-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 10vw;
  max-width: 50vw;
}
.navbar-central-subsection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
}
.navbar-central-options {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    height: 2rem;
    color: white;
    background-color: #111111;
}

.navBar input[type="text"] {
  border: none;
  width: 600px;
  padding: 0 1rem;
}
.navBar input[type="text"]:focus {
  outline: none;
}

.navbar-logo-section {
  width: 200px;
  position: relative;
}
.navBar .logo {
  height: 80px;
  position: absolute;
  top: -55px;
  left: -120px;
  cursor: pointer;
}

.navbar-profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 99px;
  width: 400px;
}
.navbar-profile-section {
  /* width: 200px; */
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}
.navbar-profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}
.navbar-avatar {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}
.navbar-avatar img {
  height: 100%;
  width: 100%;
}
.navbar-avatar-svg {
  transform: scale(0.7);
  margin-right: 0.5rem;
}
.navbar-avatar-svg path {
  fill: white;
}

.wishlist-icon {
  transform: scale(0.7);
}
.wishlist-icon path {
  fill: white;
}
.navbar-username {
    font-weight: 400;
}

.cart-icon-container {
  position: relative;
  margin: 0px;
}
.cart-icon {
  transform: scale(0.5);
}
.cart-icon path {
  fill: white;
}
.cart-number {
  font-weight: 600;
  width: 2rem;
  text-align: left;
  position: absolute;
  top: 5px;
  right: -20px;
}

.navBar-modal-container {
  position: absolute;
  height: 50px;
  text-align: left;
  overflow: visible;
}

.navbar-wishlist-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 64px;
  position: relative;
}
.navBar-modal-container-w {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: left;
  overflow: visible;
}
.navbar-modal-menu-container {
  display: flex;
  flex-direction: column;  
  padding-top: .75rem;
}
.navbar-modal-menu-container a {
    font-weight: 200;
}

.profile-modal-option {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    height: 2rem;
    color: white;
}
.profile-modal-option:hover {
  background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(17,17,17,1) 24%, rgba(34,34,34,1) 100%);
}
.logout {
    margin-top: 2rem;
    border-top: 1px solid rgb(115, 115, 115);
}

.navbar-modal {
  visibility: hidden;
  position: relative;
  left: calc(50% - 75px);
  bottom: -50px;
  height: fit-content;
  width: 10rem;
  border: 1px solid rgb(115, 115, 115);
  background: #111111;
  z-index: 12;
}
.navbar-modal-w {
    visibility: hidden;
    position: relative;
    left: calc(50% - 300px);
    bottom: -50px;
    height: fit-content;
    width: 400px;
    border: 1px solid rgb(115, 115, 115);
    background: rgb(33, 33, 33);
    z-index: 12;
}

.profile-modal-option {
}

.provider-text {
  font-weight: 600;
  background: linear-gradient(
    45deg,
    #35a7ff 0%,
    #7e54de 20%,
    #f40259 60%,
    #fea30d 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: gradientTextAnim 10s infinite;
}

.glitch {
  width: 200px;
  height: 100px;
  cursor: pointer;
}
