.navBar {    
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    margin-bottom: 20px;
}
.navBar a {
    color: beige;
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
    margin: 0 1vw 0 1vw;
}
.navBar h1 {
    color: #FFA500;
    cursor: pointer;
}

.cart-icon-container {
    position: relative;
}
.cart-icon {
    transform: scale(.5);
}
.cart-icon path {
    fill: white;
}
.cart-number {
    position: absolute;
    top: 5px;
    right: 5px;
}