.notif-modal-container {
    height: 2rem;
    min-height: 2rem;
    width: 2rem;
    min-width: 2rem;
    margin-top: .25rem;
    cursor: pointer;
    position: relative;
}

.notif-modal-header {
    position: relative;
    height: 2rem;
    min-height: 2rem;
    width: 2rem;
    min-width: 2rem;
}
.notif-dot {
    height: .5rem;
    min-height: .5rem;
    width: .5rem;
    min-width: .5rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    background-color: #d71212;
}
.bell-svg {
    color: #FFFFFF;
    scale: .85;
}

.notif-modal-opener {
    position: absolute;
    top: 0;
    height: 2.5rem;
    min-height: 2.5rem;
    width: 2rem;
    min-width: 2rem;
    z-index: 10;
}
.notif-modal-content {
    position: absolute;
    top: 2.4rem;
    left: -1000%;
    height: 0rem;
    width: 25rem;
    opacity: 0;
    pointer-events: none;
    transition: height 0.3s ease;
    background-color: #202020;
}
.notif-modal-container:hover .notif-modal-content {
    height: 30rem;
    opacity: 1;
    pointer-events: all;
}
