.cart-card-container {
    min-width: 60vw;
    background: white;
    color: black;
    border-bottom: 1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.pointer {
    cursor: pointer;
}
.bold {
    font-weight: 800;
}
.product-cart-card-head {
    display: flex;
    flex-direction: row;
}

.product-cart-image-container {
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-cart-image-container img {
    max-height: 96px;
    max-width: 96px;
}
.cart-prod-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 30vw;
    margin: 0 20px;
    text-align: left;    
    overflow: hidden;
}

.cart-card-name {
    font-weight: 600;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cart-main-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cart-main-details div {
    height: 1.2rem;
    margin: .5rem 0 0 0;
}

.cart-product-options {
    display: flex;
}
.cart-product-options p {
    margin-right:10px;
}

.cart-card-price-discount {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
}
.cart-card-price-discount div {
    font-size: 1rem;
    margin: 0 .5rem 0 0;
    color: #39b54a;
}
.cart-card-price-discount del {
    font-size: 1rem;
    color: rgb(160, 160, 160);
}
.cart-card-price {
    text-align: end;
    width: 7rem;
}
.cart-card-price-inner {
    display: flex;
}