.details-head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.details-head-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65vw;
}

.details-title-container {
  display: flex;
  flex-direction: column;
    margin: 1rem 0px;
}

.details-head-section {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.details-price-section {
    margin-bottom: 1rem;
}
.details-price-section h2 {
    font-size: 2rem;
}
.details-sale-section {
    display: flex;
    justify-content: center;
}

.details-spinner {
  transform: scale(2);
}

.details-button {
  margin: 0.5rem !important;
  height: 2.5rem !important;
  width: 10rem !important;
  padding: 0 !important;
}

.details-mainfeatures {
  margin: 2rem 0 0 0;
  text-align: left;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details-mainfeatures * {
  margin: 2px 10px;
}

.tab-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-button-container {
    border-bottom: 1px solid #FFFFFF;
    width: 60vw;
}
.tab-button {
    color: white;
    background-color: transparent;
    margin: 0px .2rem -1px .2rem;
    height: 2.5rem;
    width: 10rem;
    border: none;
    cursor: pointer;
}
.tab-button-active {
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;    
    border-bottom: 1px solid #000000;
}

.details-description-container {
    width: 50vw;
    margin: 2rem;
}
.details-attributes-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    flex-wrap: wrap;
    align-content: center;
}
.all-attributes-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 0 auto;
}
.attributes-two-columns {
  flex-wrap: wrap;
  align-content: space-around;
}

.attribute-container {
  display: flex;
  height: fit-content;
  border-bottom: 1px solid #FFFFFF10;
}
.attributes-two-columns > .attribute-container {
    width: 30vw;
    margin-bottom: 0.5rem;
}

.attribute-container > div:first-child {
  width: 45%;
  text-align: left;
}
.attribute-container > div:last-child {
  padding-left: 1rem;
  width: 55%;
  text-align: left;
}
/* 1 COLUMNA
 .all-attributes-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}
}
 */
