.galery {
    display: flex;
}

.galery-selector {
    background-color: white;
    height: 54px;
    width: 54px;
    margin: 5px 20px;
    border-radius: 5px;
    border: 2px solid rgb(107, 107, 107);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
.selector-img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
}
.selected {
    border: 2px solid #FFA500;
}

.preview-container {
    background-color: white;
    height: 500px;
    width: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.galery-img {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    max-width: 500px;
    max-height: 500px;
    cursor: zoom-in;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease;
}

.galery-fullscreen {
    color: black;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}
.fs-visible {
    display: flex;
}

.fs-galery-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
}

.fs-img {
    visibility: hidden;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
.fs-visible {
    visibility: visible;
}