.product-mini-card {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 25px;
}
.visible {
    visibility: hidden;
    color: black;
}
.product-mini-card:hover .visible {
    visibility: visible;
}