.fav-button-container {
    z-index: 2;
    opacity: 0;
}

.visible {
    transition: opacity .3s ease;
    opacity: 1;
}

.fav-button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    position: relative;
    background: none;
    /* background: rgba(255, 255, 255, .8);
    border-radius: 50%; */
}

.fav-button-container button:hover>.heart-svg-faved {
    display: none;
}

.fav-button-container button:hover>.heart-svg-no-faved path {
    stroke: #f27979;
}

.fav-button-container button:hover>.brokenheart-svg {
    display: inline;
}

.fav-button-svg {
    position: absolute;
    top: 0px;
}

.heart-svg {
    transform: scale(.7);
}

.brokenheart-svg {
    transform: scale(.7);
    display: none;
}

.brokenheart-svg-no-faved {
    display: none;
}

.brokenheart-svg path {
    fill: #f27979;
}

.heart-svg path {
    stroke: #505050;
    stroke-width: 2px;
    fill: none;
}

.heart-svg-faved path {
    stroke: none;
    fill: #f27979;
}

.fav-button-position {
    position: absolute;
    top: 1rem;
    right: 1rem
}