.fav-button-container  {
    z-index: 2;
    opacity: 0;
}
.visible {
    transition: opacity .3s ease;
    opacity: 1;
}
.fav-button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    cursor: pointer;
    position: relative;
    background: none;
    /* background: rgba(255, 255, 255, .8);
    border-radius: 50%; */
}
.fav-button-svg {
    position: absolute;
    top: 0px;
}

.heart-svg {
    transform: scale(.7);
}
.heart-svg path {
    stroke: #505050;
    stroke-width: 2px;    
    fill: none;
}
.heart-svg-faved path {
    stroke: none;
    fill: #f27979;
}